<!doctype html>
<html lang="en" xmlns:ng="http://angularjs.org/" ng-app="slides">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>AngularJS Intro</title>
  <script src="../jquery-1.9.1.js"></script>
  <script src="../angular.js" ng:autobind></script>
  <script src="../syntaxhighlighter/shCore.js"></script>
  <script src="../syntaxhighlighter/shBrushJScript.js"></script>
  <script src="../syntaxhighlighter/shBrushXml.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css"/>
  <link rel="stylesheet" href="../css/shCore.css" type="text/css"/>
  <link rel="stylesheet" href="../css/shThemeDefault.css" type="text/css"/>
  <script src="../slide.js"></script>
</head>
<body ng-controller="SlideCtrl">

  <slide>





    <center><img src="img/AngularJS-large.png" width="600px"></center>

    <p>
      15.04.2013<br/>Malte Legenhausen &lt;legenhausen@werk85.de&gt;<br/>werk85 - Maßschneiderei für Medien
    </p>
  </slide>


  <!-- **** -->


  <slide title="Was ist AngularJS?">
    <ul>
      <li>Framework zur Programmierung von Web Apps</li>
      <li>4 Jahre alt</li>
      <li>Pures JavaScript</li>
      <li>Open Source (@github, MIT)</li>
      <li>Google gefördert</li>
    </ul>
  </slide>


  <!-- **** -->


  <slide title="Noch ein anderes JS Framework?">
    <h2 class="center">
      Warum?
    </h2>
    <h2 class="center">
      Weil AngularJS
      fundamental anders ist.
    </h2>
  </slide>


  <!-- **** -->


  <slide title="AngularJS Philosophie">


    <pre><h2 class="center">
      Sei ausgerichtet an der 
      Vergangenheit und der 
      Zukunft des Web.</h2></pre>
  </slide>


  <slide title="1989: HTML">

    <center><img src="img/History_HTML.png" width="770" height="82"></center>

    <p class="center">
      Markup Sprache für wissenschaftliche Dokumente,
      die über das Internet geteilt werden.
    </p>
  </slide>

  <slide title="1995: JavaScript">

    <center><img src="img/History_JS.png"></center>

    <p class="center">
      Skriptsprache für HTML Dokumente.
    </p>
  </slide>


  <slide title="2005: AJAX / Web 2.0">

    <center><img src="img/History_AJAX.png"></center>
    
    <center><img src="img/gmail-logo.jpg" height="150"><img src="img/google-map-logo.gif" height="150"></center>
    <p class="center">Erstaunliche Anwendungen,
      gebaut aus primitiven Bestandteilen.
    </p>
  </slide>

  <slide title="2013: Was hat sich geändert?">

    <center><img src="img/History_today.png"></center>

    <p class="center">
      HTML und JavaScript haben sich verbessert, aber
      die Abstraktionsebenen sind die selben wie in 1989.
    </p>

  </slide>

  <!-- **** -->


  <slide title="Das ist AngularJS">
    
    

    <h2 class="center">
        Die 3 Standbeine von AngularJS
    </h2>
  </slide>


  <!-- **** -->


  <slide title="Templating">
    

    
    <h2 class="center">
      DOM-basiertes erweiterbares Templating
    </h2>

  </slide>
  
  
  <!-- **** -->


  <slide title="Templating">
    
    Erweiter HTML um neue Funktionen:
    <pre class="html-only highlight: [3, 4, 5]">
      &lt;ul&gt;
        &lt;li 
          ng-repeat="user in users" 
          ng-click="selectUser(user)"&gt;
          {{user.name}
        &lt;/li&gt;
      &lt;/ul&gt;
    </pre>

    Eigene Tags:
    <pre class="html-only">
      &lt;markdown&gt;*Hello* **world**!&lt;/markdown&gt;
    </pre>
    
  </slide>



  <!-- **** -->


  <slide title="Model Observation">
    
    
    <h2 class="center">
      Keine aufwendige
      Datenmodell-Synchronisation
    </h2>

  </slide>
  

  <!-- **** -->


  <slide title="Model Observation">

    Der $scope dient als Klebstoff zwischen der Ansicht und der Logik:
    <pre class="code-only">
      $scope.users = [
        {id: 1, name: 'Bob'},
        {id: 2, name: 'Jim'}
      ];
    </pre>


    <h2 class="center">2-Way Databinding</h2>
  </slide>


  <!-- **** -->


  <slide title="Wart- und Tesbarkeit">
    
    
    <h2 class="center">
      Strukturierte und testbare Anwendungen dank Dependency Injection (DI)
    </h2>
  </slide>


  <!-- **** -->


  <slide title="Wartbarkeit">
    
    <pre class="code-only highlight: [1, 4, 5, 10]">
      angular.module('app', [])

      .controller('SettingsController', [
        '$scope', 'dialog',
        function($scope, dialog) {
          ...
        }
      ])

      .factory('dialog', [
        '$http',
        function($http) {
          ...
          return someDialog;
        }
      ])
    </pre>
  </slide>


  <slide title="Testbarkeit">



    <h2 class="center">Jasmine Spezifikationen</h2>

    <h2 class="center">Karma - ein Multibrowser Testrunner</h2>
  </slide>


  <slide title="Ende">





    <h2 class="center">Fragen?</h2>
  </slide>

  <div id="slideCounter">{{currentSlide}} / {{slideCount}}</div>
</body>
</html>
